[#if RS#]
	[#begin RS#]
<form>
    <div data-role="rangeslider">
        <label for="range-1a">[#val#]</label>
        <input type="range" name="range-1a" id="range-1a" onchange="changedValue1();" min="[#min#]" step="[#step#]" max="[#max#]" value="[#prp1#]">
        <label for="range-1b"></label>
        <input type="range" name="range-1b" id="range-1b" onchange="changedValue2();" min="[#min#]" step="[#step#]" max="[#max#]" value="[#prp2#]">
    </div>
</form>
<script type="text/javascript">
function changedValue1() {
url='/objects/?object=[#obj#]&op=set&p=[#prp1_n#]&v='+$('#range-1a').val()
AJAXRequest(url);
}
function changedValue2() {
url='/objects/?object=[#obj#]&op=set&p=[#prp2_n#]&v='+$('#range-1b').val()
AJAXRequest(url);
}
</script>
	[#end RS#]
[#endif RS#]